/*
* Game of life stylesheet
*/


.buttons{

    -fx-background-radius: 5,5,4;
    -fx-text-fill:black;
    -fx-font-size: 10px;

}


.colorPick{

    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-font-size: 10px;


}

.btn2{
    -fx-background-radius: 5,5,5;
    -fx-font-size: 10px;
    -fx-effect: null;

}



