/*
* Game of life stylesheet
*/

.buttonBar{
    -fx-background-color: dimgray;
}


.canvas{
    -fx-background-color: black;
}


.buttons{

    -fx-background-radius: 5,5,4;
    -fx-text-fill:black;

}


.colorPick{

    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-font-size: 12px;


}

.btn2{
    -fx-background-radius: 5,5,5;
    -fx-font-size: 12px;
    -fx-effect: null;

}



