/*
* GUI stylesheet
*/

.picker-arrow {

    -fx-color-label-visible: false;
}

.btn-border {

    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.btnStyle {

    -fx-background-radius: 3, 3;
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-background-color: lightgray;
    -fx-border-radius: 2,2;
    -fx-border-width: 50%;
}

.btnStyle:hover {

    -fx-background-color: dimgray;
    -fx-opacity: 0.9;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-blend-mode: hard-light;
    -fx-font-weight: bold;
}

.highlight {

    -fx-background-radius: 3, 3;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-background-color: lightgray;
}

.highlight:hover {

    -fx-background-color: dimgray;
    -fx-text-fill: black;
    -fx-blend-mode: hard-light;
}

.menu, .menu-item, .context-menu {
    -fx-background-color: lightgray;
    -fx-border-style: none;
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-family: 'Segoe UI', sans-serif;
}

.toggle-play {

    -fx-background-color: lightgray;
}

.toggle-play:selected {

    -fx-background-color: darkgray;
}

.colors-icon {

    -fx-background-image: url("resources/icons/color_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

.sound-icon {

    -fx-background-image: url("resources/icons/sound_on_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

.sound-icon:selected {

    -fx-background-image: url("resources/icons/sound_off_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

.speed-icon {

    -fx-graphic: url("resources/icons/speed_icon.png");
    -fx-graphic-repeat: no-repeat;
    -fx-graphic-position: left;
}

.zoom-icon {

    -fx-graphic: url("resources/icons/zoom_icon.png");
    -fx-graphic-repeat: no-repeat;
    -fx-graphic-position: left;
}

.size-icon {

    -fx-background-image: url("resources/icons/size_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}

.bomb-icon {

    -fx-background-image: url("resources/icons/bomb_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}