/*
* GUI stylesheet
*/

.picker-arrow {

    -fx-color-label-visible: false;
}

.btn-border {

    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.btnStyle {

    -fx-background-radius: 3, 3;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-background-color: lightgray;
}

.btnStyle:hover {
    -fx-background-color: grey;
    -fx-opacity: 0.9;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-blend-mode: hard-light;
    -fx-font-weight: bold;
}

.blend {
    -fx-blend-mode: hard-light;
}

.highlight {

    -fx-background-radius: 3, 3;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-background-color: lightgray;

}

.highlight:hover {

    -fx-background-color: dimgray;
    -fx-text-fill: black;
    -fx-blend-mode: hard-light;
}

.menu, .menu-item, .context-menu {
    -fx-background-color: lightgray;
    -fx-border-style: none;

}

.toggle-play {

    -fx-background-color: lightgray;

}

.toggle-play:selected {
    -fx-background-color: darkgray;

}

.colors-icon {

    -fx-graphic: url("http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Actions-fill-color-icon.png");
}

.sound-icon {

    -fx-graphic: url("http://icons.iconarchive.com/icons/iconshock/super-vista-general/16/music-icon.png");
}

.sound-icon:selected {

    -fx-graphic: url("http://icons.iconarchive.com/icons/dryicons/aesthetica-2/16/sound-off-icon.png");
}

.speed-icon {

    -fx-graphic: url("http://icons.iconarchive.com/icons/icons8/windows-8/16/Science-Speed-icon.png");
}

.zoom-icon {

    -fx-graphic: url("http://icons.iconarchive.com/icons/designcontest/outline/16/Magnifier-icon.png");
}

.size-icon {

    -fx-graphic: url("http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/16/Actions-transform-scale-icon.png");

}

.pattern-icon {

    -fx-graphic: url("http://icons.iconarchive.com/icons/icons8/windows-8/16/Data-Grid-icon.png");
}

.bomb-icon {

    -fx-graphic: url("http://icons.iconarchive.com/icons/icons8/ios7/16/Military-Bomb-icon.png");
}